<!--DOCTYPE html>
</-->
<html ng-app="ShowMeAround">

<head>
    <meta charset="UTF-8">

    <title> ShowMeAround </title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css"/>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="getdata.js"></script>
    <script type="text/javascript" src="getlocation.js"></script>
    <script type="text/javascript" src="lib/angular-cookies.js"></script>
    <script type="text/javascript" src="app.js"></script>


</head>

<body>
    <h1 id="title"> Show Me Around</h1>

    <section>
        <div ng-controller="VenueController as venues">
            <input id="search_bar" ng-model="query"ng-keyup="init()" placeholder="search...">
            <table class="table table-striped" id="venue_lists">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Distance</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody ng-repeat ="venue in venues ">
                    <tr id="">
                        <td>{{venue.name}}</td>
                        <td>{{venue.location.distance}} <em>Meters</em> </td>
                        <td>{{venue.location.address}}</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </section>

</body>

</html>